version: '3'
services:
  swablu:
    build: .
    environment:
      DISCORD_BOT_USER_TOKEN: "..."
      DISCORD_GUILD_ID: "..."
      DISCORD_ADMIN_ROLE: "..."
      DISCORD_CHANNEL_HACKS: "..."
      MYSQL_HOST: db
      MYSQL_PORT: "3306"
      MYSQL_USER: root
      MYSQL_PASSWORD: swablu
      MYSQL_DATABASE: swablu
      OAUTH2_CLIENT_ID: "..."
      OAUTH2_CLIENT_SECRET: "..."
      OAUTH2_REDIRECT_URI: "..."
      MANAGED_HTACCESS_FILE: "/app/.htaccess"
      BASE_URL: "..."
      COOKIE_SECRET: "..."
      PORT: 30321
      ENABLE_DISCORD_WRITES: "1"
      EOS_DUNGEONS_TILESET_PATH: "/app/dungeon_tiles"
    depends_on:
      - db
    volumes:
      - "/xyz/xyz/.htaccess:/app/.htaccess"
      - "./dungeon_tiles:/app/dungeon_tiles"
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: swablu
      MYSQL_DATABASE: swablu
    volumes:
      - "./db_data:/var/lib/mysql"
  varnish:
    image: ghcr.io/plopix/docker-varnish6/varnish6:latest
    volumes:
      - "./varnish.vcl/etc/varnish/default.vcl:ro"
    ports:
      - 30321:80
