{% include 'head.html' %}
<h1>ROM Hacks</h1>
<div class="toolbar">
    <p class="lead">On this site you can find a list of all ROM Hacks for PMD Explorers of Sky.</p>
    <h3>Filter</h3>
    <form id="filter-form">
        <label>Name: <input name="name" type="text"></label>
        <label>Type: <select name="type">
              <option value="">---</option>
              <option value="balance_hack">Balance Hack</option>
              <option value="story_hack">Story Hack</option>
              <option value="translation">Translation</option>
              <option value="misc_hack">Misc. Hack</option>
              <option value="machinima">Machinima</option>
        </select></label>
        <label>Status: <select name="status">
              <option value="">---</option>
              <option value="wip">Work in Progress</option>
              <option value="demo">With Demo / Ongoing</option>
              <option value="mostly">Mostly Finished / Ongoing</option>
              <option value="finished">Finished</option>
        </select></label>
        <label>Sort by: <select name="sort">
              <option value="updated">Last updated</option>
              <option value="abc">Alphabetical</option>
        </select></label>
        <label class="hide-mobile">View mode: <select name="view">
              <option value="compact">Compact</option>
              <option value="details">Details</option>
        </select></label>
    </form>
</div>
<div class="hack-listing">
    <div class="hack-list">

    </div>
    <div class="error">
        There was an error loading the list of hacks, or you have JavaScript disabled.
    </div>
    <div class="tmpl-hack-list" style="display: none;">
        {% set jam = None %}
        {% for sort_idx, hack in enumerate(hacks) %}
            {% set key = hack['key'] %}
            {% include 'hack_in_list.html' %}
        {% end %}
    </div>
</div>
<script src="/static/filter.js?v=2"></script>
{% include 'foot.html' %}
